body {
    background-image: url('/img/fondoPoke.png');
}

.tarjeta {
    border: solid #4d3636;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    margin: auto;
    text-align: center;
    transition: transform 0.3s ease;
}

#buttons {
    background-color: aliceblue;
    padding: 20px;
    border: solid #4d3636;
    background-color: #468f3c;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    height: 125px;
}

#submitbtn {
    height: 60px;
    width: 100px;
}

#search {
    border: solid #468f3c;
    width: 800px;
    height: 100px;
    padding: 10px;
    border-radius: 5px;

}

#searchDiv {
    overflow: wrap;
    height: 100px;
    width: 270px;
    padding: 5px;
    float: inline-start;
    display: flex;
}

#prevPage,
#nextPage,
#btnSort {
    border: solid #bebeba;
    border-radius: 5px;
    height: 100px;
    width: 200px;
    margin: 10px;
    font-size: x-large;
}

#btnSort {
    float: right;
}

#prevPage {
    float: left;
}

#contenedor {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
}

.tarjeta:hover {
    border-color: rgb(241, 234, 133);
}

.tarjeta-grande {
    transform: scale(2.0);
    transition: transform 0.3s;
    box-shadow: 5px 5px 5px black;
    z-index: 1;
}

img {
    height: 150px;
    border: solid #ffe44e;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    margin-top: 5px;
}

.types {
    background-color: rgb(209, 209, 209);
    border: solid #272620;
    float: right;
    padding: 5px;
    font-size: x-large;
    box-shadow: 1px 1px 1px black;
    height: 75px;
    width: 60px;
    border-radius: 5px;
}

p {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -1px;
    margin-bottom: -1px;
    font-style: unset;
    font-size: small;
}

#pokeName {
    font-size: x-large;
    border: solid #fff3bf;
    border-radius: 5px;
    padding: 5px;
    width: 150px;
    margin-left: 16px;
    text-align: center;
    background: #ffec40;
    box-shadow: 1px 1px 1px black;
}

p,
h1::first-letter {
    text-transform: capitalize;
}

#stats {
    font-size: small;
    border: solid #fff3bf;
    border-radius: 5px;
    width: 115px;
    background: #ffec40;
    box-shadow: 1px 1px 1px black;
}

.types p {
    width: 45px;
    border-radius: 5px;
    font-size: small;
    padding: 2px;
    margin: 5px;
    margin-top: 10px;
}

.types,
#stats {
    display: inline-block;
}

.flying {
    background-color: lightcyan;
}

.bug {
    background-color: green;
}

.fire {
    background-color: orangered;
}

.tarjeta.fire {
    background-image: url('/img/fire.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.electric {
    background-color: #ffde22;
}

.tarjeta.electric {
    background-image: url('/img/rayoblanco.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.rock {
    background-color: rgb(54, 44, 22);
}

.tarjeta.rock {
    background-image: url('/img/rock.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.water {
    background-color: lightseagreen;
}

.tarjeta.water {
    background-image: url('/img/water.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.dark {
    background-color: darkslategrey;
}

.ghost {
    background-color: rgb(26, 23, 80);
}

.normal {
    background-color: rgb(141, 141, 141);
}

.poison {
    background-color: blueviolet;
}

.psychic {
    background-color: rgb(145, 12, 74);
}

.steel {
    background-color: rgb(71, 121, 90);
}

.ice {
    background-color: rgb(138, 232, 255);
}

.tarjeta.ice {
    background-image: url('/img/ice.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.fighting {
    background-color: rgb(202, 61, 51);
}

.grass {
    background-color: rgb(21, 100, 21);
}

.tarjeta.grass {
    background-image: url('/img/grass.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.ground {
    background-color: rgb(172, 107, 23);
}

.dragon {
    background-color: rgb(76, 134, 148);
}

.tarjeta.dragon {
    background-image: url('/img/dragon.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.fairy {
    background-color: rgb(255, 80, 162);
}